zk-simple-databinding.iml
zk-simple-databinding.ipr
zk-simple-databinding.iws
zk-simple-databinding-grailsPlugins.iml
.idea
target/**/*
.DS_Store
web-app/WEB-INF/classes
web-app/WEB-INF/classes/**/*
web-app/WEB-INF/tld/*.tld
web-app/WEB-INF/tld/**/*
*.log
*.iws
*.ipr
*.iml
.settings/org.eclipse.jdt.core.prefs
SendFailures.txt
*.iml
.idea
.idea/workspace.xml
.idea/**/*
out/